#wall {
    padding-top: 95px;
    background-color: #d0e1f0;
}

#frameOne {
    padding-top: 30px;
}

#frameTwo {
    display: flex;
    gap: 20px;
}

#cards{
    margin-top: 20px;
}

#pStyle{
    font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    #wall {
        height: fit-content;
        display: block;
        gap: 0px;
    }
    
    #frameOne {
        text-align: center;
    }
    
    #frameTwo {
        display: block;  
        margin-top: 30px;
    }

    #cards{
        text-align: center;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0px 1px 5px 1px #b0b0b0;
    }

    #cardTwo{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    #wall {
        height: fit-content;
        display: block;
        gap: 0px;
    }
    
    #frameOne {
        text-align: center;
    }
    
    #frameTwo {
        display: block;  
    }

    #cards{
        text-align: center;
        width: 100%;
        margin-top: 40px;
    }

    #cardTwo{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1440px) {

    #wall {
        height: fit-content;
        display: block;
        gap: 0px;
    }
    
    #frameOne {
        text-align: center;
    }
    
    #frameTwo {
        display: flex;  
    }

    #cards{
        text-align: center;
        width: 100%;
    }

    #cardTwo{
        margin-bottom: 30px;
    }

}