#wall {
    background: linear-gradient(to top, #d0e1f0, #147ee8df);
    padding: 300px 0px 300px 0px;
}

#frame {
    text-align: center;
    color: white;
}

#h2Style {

    color: white;
    font-size: 20px;
    margin: 0px 0px 20px 0px;

}

@media only screen and (min-width: 320px) and (max-width: 576px) {

    #wall {
        padding: 200px 20px 100px 20px;
    }

    #h1Style {
        font-size: 40px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    #wall {
        padding: 200px 70px 100px 70px;
    }
    
    #h1Style {
    
        font-size: 70px;
    
    }

    #h2Style {
    
        font-size: 20px;
        padding: 10px 0px 20px 0px;
    
    }
}

@media only screen and (min-width: 993px) and (max-width: 1440px) {

    #wall {
        padding: 200px 70px 100px 70px;
    }
    
    #h1Style {
    
        font-size: 80px;
    
    }

    #h2Style {
    
        font-size: 25px;
        padding: 10px 80px 20px 80px;
    
    }

}