#wall {
    padding: 0px 100px 20px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #045e92;
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 3px 1px #598ba7;
}

.image {

    width: 200px;

}

#frame{
    width: 100%;
    display: flex;
    padding: 25px 0px 0px 0px;
}

#button{
    background-color: #045e92;
    font-size: 20px;
    padding-top: 8px;
    color: white;
}

:hover#button{
    background-color: #0b84ca;
}

#pStyle{
    font-size: 25px;
}

#frameTwo {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 40px;
    font-size: 20px;
}

@media only screen and (max-width: 576px) {
    #wall {
        padding: 10px 10px 20px 10px;
        box-shadow: 0px 5px 10px #3b617a;
    }

    .image {

        width: 160px;
        height: 50px;
    
    }
    
    #frame{
        width: 100%;
        display: flex;
        padding: 10px 0px 0px 0px;
    }
    
    #button{
        background-color: #598ba7;
        font-size: 0px;
        padding-top: 8px;
    }
    
    :hover#button{
        background-color: #0b84ca;
    }
    
    #buttonTwo{
        background-color: #3b617a;
        font-size: 0px;
    }
    
    :hover#buttonTwo{
        background-color: rgb(7, 153, 185);    
    }

    #frameTwo {
        display: flex;
        width: 100%;
        justify-content: right;
        gap: 0px;
    }
}